header {
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.titles {
  font-size: 20px;
  padding: 20px 0 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ddc476;
  margin-left: 25px;
}

.first-a{
  margin-left: 0;
}

ul{
  padding-left: 0;
}

p {
  color: #ddc476;
}

ul > a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  p {
    display: none;
  }

  a {
    margin-left: 25px;
  }
  .titles{
    flex-direction: column;
  }
}
