<app-header></app-header>
<!--<fa-icon class="icon" [icon]="faChevronCircleDown"></fa-icon>-->
<div class="landing-image"></div>
<section class="cards container" id="services">
  <h3>Servicios</h3>
  <div class="content-cards">
    <article class="card">
      <div class="card-margin">
        <fa-icon class="faClone" [icon]="faPencilAlt"></fa-icon>
      </div>
      <h2 class="card-text">Diseño web</h2>
      <p class="card-text">
        Páginas web atractivas y funcionales con el objetivo de satisfacer las
        necesidades de nuestros clientes.
      </p>
    </article>
    <article class="card">
      <div class="card-margin">
        <fa-icon class="faClone" [icon]="faAd"></fa-icon>
      </div>
      <h2>Marketing</h2>
      <p>Todo lo relacionado al Marketing para impulsar tu negocio</p>
    </article>
    <article class="card">
      <div class="card-margin">
        <fa-icon class="faClone" [icon]="faHandsHelping"></fa-icon>
      </div>
      <h2>Asesoría digital</h2>
      <p>
        ¿Tienes dudas? no dudes en nuestra asesoría digital, el mundo ha
        cambiando y lo digital se vuelve cada vez mas importante
      </p>
    </article>
  </div>
</section>
<section class="portafolio" id="clients">
  <div class="container">
    <h3>Nuestros clientes</h3>
    <div class="galeria-port">
      <div class="imagen-port">
        <img src="../../assets/logoNL.jpg" alt="" />
        <div class="hover-galeria">
          <img src="../../assets/browser.svg" alt="" />
          <a href="https://www.neverlegal.co" target="_blank">Ver más</a>
        </div>
      </div>
      <div class="imagen-port">
        <img src="../../assets/logoBA.png" alt="" />
        <div class="hover-galeria">
          <img src="../../assets/browser.svg" alt="" />
          <a href="https://www.buzondelosangeles.com" target="_blank">Ver más</a>
        </div>
      </div>
      <div class="imagen-port">
        <img src="../../assets/logoDK.jpeg" alt="" />
        <div class="hover-galeria">
          <img src="../../assets/browser.svg" alt="" />
          <a href="https://www.dkdenimkings.com" target="_blank">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" id="contact">
    <h3>Contacto</h3>
  </div>
</section>
