<header>
  <app-header></app-header>
</header>
<section class="portafolio">
  <div class="container">
    <h3 class="titulo">Nuestros clientes</h3>
    <div class="galeria-port">
      <div class="imagen-port">
        <img src="../../assets/logoNL.jpg" alt="" />
        <div class="hover-galeria">
          <img src="../../assets/browser.svg" alt="" />
          <p>Ver más</p>
        </div>
      </div>
      <div class="imagen-port">
        <img src="../../assets/logoBA.png" alt="" />
        <div class="hover-galeria">
          <img src="../../assets/browser.svg" alt="" />
          <p>Ver más</p>
        </div>
      </div>
      <div class="imagen-port">
        <img src="../../assets/logoDK.jpeg" alt="" />
        <div class="hover-galeria">
          <img src="../../assets/browser.svg" alt="" />
          <p>Ver más</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" id="services">
    <h3>Servicios</h3>
    <div class="container-servicio">
      <div class="servicio">
        <h4>Diseño web</h4>
        <p>
          Páginas web atractivas y funcionales con el objetivo de satisfacer las
          necesidades de nuestros clientes
        </p>
      </div>
      <div class="servicio">
        <h4>Marketing</h4>
        <p>
          Todo lo relacionado al Marketing para impulsar tu negocio
        </p>
      </div>
      <div class="servicio">
        <h4>Asesoría digital</h4>
        <p>
          ¿Tienes dudas? no dudes en nuestra asesoría digital, el mundo ha
          cambiando y lo digital se vuelve cada vez mas importante
        </p>
      </div>
    </div>
  </div>
  <div class="container" id="contact">
    <h3>Contacto</h3>
  </div>
</section>
